/* Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Specifiche body*/
body {
    width: 512px;
    margin: 0 auto;
}

.sfondo {
    height: 100vh;
    width: 100%;
    max-width: 512px;
    position: fixed;
    z-index: -1;
}
