/* Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Specifiche body*/
body {
    width: 512px;
    margin: 0 auto;
}

/* Specifiche sfondo*/
.sfondo {
    height: 100vh;
    width: 100%;
    max-width: 512px;
    position: fixed;
    z-index: -1;
}

/* Specifiche banner*/
.banner {
    width: 100%;
    max-width: 512px;
    margin-bottom: 50px;
}


.titolo-primo {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  line-height: 0.9;
  font-size: 45px;
  margin-top: -20px;
  margin-bottom: 10px;
}


.paragrafo-primo {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 1.2;
  font-size: 21px;
}

.pulsanti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 200px;
    margin-top: 0;
}

.pulsante {
    background-color: white;
    padding: 15px 60px;
    border-radius: 8px;
    font-family: "DM Sans";
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 400px;
}
